langchain
langchain_community
pypdf
python-docx
unstructured
tiktoken
langchain_text_splitters
sentence-transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
langchain_ollama
markdown
pandas
msoffcrypto-tool
openpyxl
jq
tqdm
python-docx
tiktoken